# Standard stuff
backend/src/.env
*.db
__pycache__/
.DS_Store
backend/src/venv/*
backend/src/instance
backend/src/venv
DormHopSmokeTest.postman_collection.json

# Ignore Gradle wrapper batch scripts
frontend/wrapper/dists/
frontend/gradlew.bat
